{% if block.title %}
  <h2 class="uk-heading-medium uk-text-serif uk-margin-remove uk-text-center">{{ block.title }}</h2>
{% endif %}
<div class="uk-child-width-1-2@m uk-grid-large uk-margin-large-top uk-team" data-uk-grid>
  {% for card in site.data.team %}
    <div>
      <div>
        <div>
          <div class="uk-text-center uk-position-relative">
            <div class="uk-team-title uk-position-absolute uk-text-uppercase uk-text-spacing uk-text-500 uk-h5">{{card.title}}</div>
            <img src="{% if card.image contains 'http' %}{{ card.image }}{% else %}{{ card.image | absolute_url }}{% endif %}" alt="{{card.title}}">
          </div>
          <h4 class="uk-h2 uk-text-serif">{{card.name}}</h4>
          <div class="uk-h6 uk-text-spacing uk-text-uppercase uk-text-500 uk-margin-top" data-uk-margin>
            {% if site.social_networks.twitter %}
              <a class="uk-margin-small-right" href="{{ site.social_networks.twitter }}" aria-label="Twitter" rel="noopener" target="_blank">Twitter</a>
            {% endif %}
            {% if site.social_networks.facebook %}
              <a class="uk-margin-small-right" href="{{ site.social_networks.facebook }}" aria-label="Facebook" rel="noopener" target="_blank">Facebook</a>
            {% endif %}
            {% if site.social_networks.flickr %}
              <a class="uk-margin-small-right" href="{{ site.social_networks.flickr }}" aria-label="Flickr" rel="noopener" target="_blank">Flickr</a>
            {% endif %}
            {% if site.social_networks.dribbble %}
              <a class="uk-margin-small-right" href="{{ site.social_networks.dribbble }}" aria-label="Dribbble" rel="noopener" target="_blank">Dribbble</a>
            {% endif %}
            {% if site.social_networks.instagram %}
              <a class="uk-margin-small-right" href="{{ site.social_networks.instagram }}" aria-label="Instagram" rel="noopener" target="_blank">Instagram</a>
            {% endif %}
            {% if site.social_networks.linkedin %}
              <a class="uk-margin-small-right" href="{{ site.social_networks.linkedin }}" aria-label="LinkedIn" rel="noopener" target="_blank">LinkedIn</a>
            {% endif %}
            {% if site.social_networks.pinterest %}
              <a class="uk-margin-small-right" href="{{ site.social_networks.pinterest }}" aria-label="Pinterest" rel="noopener" target="_blank">Pinterest</a>
            {% endif %}
            {% if site.social_networks.vimeo %}
              <a class="uk-margin-small-right" href="{{ site.social_networks.vimeo }}" aria-label="Vimeo" rel="noopener" target="_blank">Vimeo</a>
            {% endif %}
            {% if site.social_networks.youtube %}
              <a class="uk-margin-small-right" href="{{ site.social_networks.youtube }}" aria-label="Youtube" rel="noopener" target="_blank">YouTube</a>
            {% endif %}
            {% if site.social_networks.github %}
              <a class="uk-margin-small-right" href="{{ site.social_networks.github }}" aria-label="Github" rel="noopener" target="_blank">Github</a>
            {% endif %}
          </div>
          <div class="uk-text-content uk-margin-medium-top">{{card.desc}}</div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
