
{% if block.title %}
  <h2 class="uk-heading-medium uk-text-serif uk-margin-remove uk-text-center">{{ block.title }}</h2>
{% endif %}
<ul class="uk-margin-large-top" data-uk-accordion>
  {% for item in site.data.faq %}
    <li>
      <span>{% if forloop.index < 10 %}0{{forloop.index}}{% endif %}</span>
      <a class="uk-accordion-title uk-text-serif" href="#">{{item.title}}</a>
      <div class="uk-accordion-content uk-line-medium">{{item.content | markdownify}}</div>
    </li>
  {% endfor %}
</ul>
